# .env로 복사한 뒤 Supabase 프로젝트(Settings > API)에서 값을 채운다
EXPO_PUBLIC_SUPABASE_URL="https://ixvncpepxtwscyficjcb.supabase.co/rest/v1/"
EXPO_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4dm5jcGVweHR3c2N5ZmljamNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3Nzc3NjcsImV4cCI6MjEwNDM1Mzc2N30.FqxavKFq7BTqybMXZVkR4_HrsnkLEl2cP4Dg2uck6No"
